.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #38b8be;
  color: #364f6b;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.container:hover {
  background-color: #32a6ac;
}
